# Dépendances
node_modules/

# Builds
dist/
build/
coverage/

# Env
.env
.env.*
!.env.example

# Logs
npm-debug.log*
yarn-error.log*

# Uploads / fichiers générés
uploads/

# OS / IDE
.DS_Store
.vscode/
.idea/