@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "Nexa";
  src: url("../public/assets/fonts/Nexa-ExtraLight.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Nexa";
  src: url("../public/assets/fonts/Nexa-Heavy.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}